### 总之先打个招呼

In [1]:
print("Hello World!")

Hello World!

### 基本数据类型

#### 字符串

In [2]:
hello = "Hello World!"
print(hello)

Hello World!

In [3]:
name = "LTL"
hello += f" I'm {name}."
print(hello)

Hello World! I'm LTL.

#### 整数

In [4]:
born = 1991
hello = "I was born in " + str(born) + "."
print(hello)

I was born in 1991.

In [5]:
now = 2019
age = now - born
print("I'm", age, "years old now.")

I'm 28 years old now.

#### 浮点数

In [6]:
weight = 95 #斤
weight /= 2 #公斤
weight

47.5

In [7]:
weight = 95
weight //= 2
weight

47

#### 布尔类型

In [8]:
male = False
not male

True

In [9]:
weight > 50

False

### 常用数据结构

#### List

In [10]:
hobby = ["Anime", "Comic", "Game"]
print(hobby)

['Anime', 'Comic', 'Game']

In [11]:
hobby.append("AI")
hobby

['Anime', 'Comic', 'Game', 'AI']

In [12]:
len(hobby)

4

In [13]:
print(hobby[0])
print(hobby[1])
print(hobby[-1])

Anime
Comic
AI

In [14]:
print(hobby[1:3])
print(hobby[1:])

['Comic', 'Game']
['Comic', 'Game', 'AI']

#### Dict

In [20]:
cost = {}
cost["Comic"] = 15
cost["Game"] = 30
cost

{'Comic': 15, 'Game': 30}

In [21]:
del(cost["Game"])
cost

{'Comic': 15}

In [22]:
cost["Game"] = 30
cost

{'Comic': 15, 'Game': 30}

### 流程控制

#### 条件

In [23]:
money = 40
money

40

In [25]:
if money > cost["Game"]:
    print("Buy a game.")
    money = money - cost["Game"]
else:
    print("Work.")
    money = money + 10
money

Work.

20

In [27]:
if money > cost["Game"]:
    print("Buy a game.")
    money -= cost["Game"]
elif money < 30:
    print("Work.")
    money += 10
else:
    print("Buy a comic book.")
    money -= cost["Comic"]
money

Buy a comic book.

15

#### 循环

In [28]:
for h in hobby:
    print(h)

Anime
Comic
Game
AI

In [29]:
while money < 100:
    money += 20
    print(money)
money

35
55
75
95
115

115

In [30]:
for i in range(100):
    money += 20
    print(money)
    if money > 500:
        break

135
155
175
195
215
235
255
275
295
315
335
355
375
395
415
435
455
475
495
515

In [31]:
mom = True 
for i in range(10):
    mom = not mom
    if mom:
        continue
    money -= 10
    print(money)

505
495
485
475
465

### 函数

In [32]:
def work():
    print("Go to work.")
work()

Go to work.

In [25]:
def work(money):
    print("got", money)
work(100)

got 100

### 外部类库引入

In [26]:
import pandas

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('money.txt', header=None)

In [29]:
df.head()

       0      1     2       3
0  hobby   work   eat   drink
1    -10    100    -5      -5
2    -20    150   -15       0