# 基本语法

1. 基本数据类型
2. 内置数据结构
3. 控制流程
4. 函数的定义
5. 外部类库的引入

## 基本数据类型

### 数值

1. 整数
2. 浮点数

In [144]:
i = 1
print(i)
i = i + 2
print(i)
i = i / 2
print(i)

1
3
1.5

In [145]:
3 // 2

1

In [146]:
3 / 2

1.5

In [147]:
f = 1.223
f = f + 2

### 布尔类型

In [180]:
a = True
b = False

In [181]:
1 > 2

False

In [182]:
"abc" == "bbc"

False

### 字符串

In [149]:
a = "string"
a.startswith("str")

True

In [150]:
a = "string"
len(a)

6

In [151]:
a = "string"
b = "new"
a + b

'stringnew'

In [152]:
a = "xushanchuan"
format_string = f"name: <{a}>"
print(format_string)

name: <xushanchuan>

## 常用数据结构

### List

In [153]:
a = [1, 2, 3, 4]
print(a)

[1, 2, 3, 4]

In [154]:
a.append(5)
print(a)

[1, 2, 3, 4, 5]

In [155]:
len(a)

5

In [156]:
print(a[0])
print(a[2])

1
3

In [157]:
print(a[0:2])

[1, 2]

In [158]:
print(a[2:4])

[3, 4]

### Dict

字典

In [159]:
a = {}
a['name'] = 'xu'
a['age'] = 1
print(a)

{'name': 'xu', 'age': 1}

In [160]:
print(a['name'])
del a['name']
print(a)

xu
{'age': 1}

## 流程控制

### 条件式

#### If

if some_condition:
    
    algorithm

In [161]:
x = 12
if x >10:
    print "Hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(int "Hello")? (<ipython-input-161-3a8393f540a7>, line 3)

In [162]:
x = 12
if x > 10:
    print("hello")
else:
    print("world")

hello

#### if elif

if some_condition:
    
    algorithm

elif some_condition:
    
    algorithm

else:
    
    algorithm

In [163]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

In [164]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
    if x==10:
        print("x=10")
    else:
        print("invalid")
else:
    print("x=y")

x<y
x=10

### Loop

#### For

for variable in something:
    
    algorithm

In [165]:
for i in range(5):
    print(i)

0
1
2
3
4

In [166]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [167]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print(x)

1
2
3
4
5
6
7
8
9

#### While

while some_condition:
    
    algorithm

In [168]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

#### Break

In [169]:
for i in range(100):
    print(i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

#### Continue

In [170]:
for i in range(10):
    if i>4:
        print("The end.")
        continue
    elif i<7:
        print(i)

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

## 注释

In [171]:
a = 1
# 不会被执行，但是可以最代码加以说明

##  函数

![](python-function.svg)

In [172]:
def a():
    print('hello')

In [173]:
a()

hello

In [174]:
def a(name):
    print(f"hello {name}")

In [175]:
a('wtm 2019')

hello wtm 2019

## 外部类库引入

In [176]:
import pandas

In [177]:
import pandas as pd

In [178]:
df = pd.read_csv('datasets/names/yob1880.txt', header=None, names=['name', 'gender', 'births'])

In [179]:
df.head()

        name gender  births
0       Mary      F    7065
1       Anna      F    2604
2       Emma      F    2003
3  Elizabeth      F    1939
4     Minnie      F    1746